<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="csv_file_path" value="C:/Users/jency/source/repos/ProjectCsvToText/InputFile/data.csv"/>
		<add key="outputFilePath" value="C:/Users/jency/source/repos/ProjectCsvToText/OutputFiles/outputByFrequency.txt"/>
		<add key="outputFileBystreet" value="C:/Users/jency/source/repos/ProjectCsvToText/OutputFiles/outputSortByStreetName.txt"/>

	</appSettings>
</configuration>